[data-theme='1'] {
    --color: #000000;
    --background: #ffffff;
}

[data-theme='2'] {
    --color: #000000;
    --background: #abc8e6;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #182636;
}

html {
    background-color: var(--background);
    color: var(--color);
}

.select {
    
}
