.burgerMenuIcon {
  height: 24px;
  width: 24px;
  margin-top: 20px;
}

.header {
  height: 60px;
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  justify-content: space-between;
  margin-bottom: 47px;

  box-shadow: 0px 0px 2px 0px #1D21261A;

  box-shadow: 0px 0px 40px 0px #1D212621;

}

.header h1 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 17px;
}