.button {
}

.disabled {
  
}

.secondary {
  background-color: green;
}

.default {
  background-color: #0066CC;
}

.red {
  background-color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
